:host .toolbar {
    height: 40px;
}
:host gridster {
    display: flex;
    height: calc(100vh - 115px);
    flex-direction: column;
}

button.delete {
    border: none;
    background: transparent;
    width: 30px;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 4px;
  }

  button.delete img{
    width: 100%;
    height: auto;
   }


  gridster-item h1{
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  gridster{
      background: #e6e6e6;
  }
