<app-header></app-header>
<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12">
      <div class="toolbar">
        <button class="btn btn-sm btn-success float-right" *ngIf="!layoutService.editableGrid"
          (click)="layoutService.configuireWidgets()">Configure</button>
        <button class="btn btn-sm btn-success float-right" *ngIf="layoutService.editableGrid"
          (click)="layoutService.saveWidgets()">Save Widgets</button>
        <button class="btn btn-sm btn-info float-right" *ngIf="layoutService.editableGrid"
          (click)="layoutService.addItem()">Add Widget</button>
      </div>
    </div>
  </div>



  <gridster [options]="options">
    <gridster-item *ngFor="let item of layout" [item]="item" (dragover)="layoutService.setDropId(item.id)">

      <h1>{{item.title}}
        <button class="btn delete" (click)="layoutService.deleteItem(item)" *ngIf="layoutService.editableGrid">
          <span class="v-sprite1 flaticon-delete"></span>
        </button>
      </h1>
      <div *ngIf="item.gridtype == 'iframe'; else elseBlock">
        <div class='powerFrameBlock' #reportcontainer></div>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="item.gridtype == 'barChart'; else doughnutBlock">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>


        <ng-template #doughnutBlock>
          <div *ngIf="item.gridtype == 'doughnut'; else emptyBlock">
            <button class="btn btn-sm backDrillbtn" *ngIf="drillDowned" (click)='backDrillClick()'>back</button>
            <canvas baseChart [data]="CardoughnutChartData" [colors]="CardoughnutChartColors"
              [labels]="CardoughnutChartLabels" [chartType]="CardoughnutChartType" (chartClick)="chartClicked($event)">
            </canvas>
          </div>

          <div *ngIf="item.gridtype == 'powerChart'">

          </div>

          <ng-template #emptyBlock>
            {{item.gridtype}}
          </ng-template>






        </ng-template>
      </ng-template>
    </gridster-item>
  </gridster>
</div>