.logo{
    font-size: 18px;
    padding: 12px 10px;
}


.header{
    /* background: #17a2b8; */
    background: #1976d2;
    color: #fff;
    margin-bottom: 10px;
}


.logout{
    padding: 12px 1px 12px 15px;
    cursor: pointer;
}

.user-title{
    display: inline-block;
    float: right;
    margin: 15px 20px 0px;
    font-size: 12px;
}

.user-title span{
    color: #6ee1f3;
    font-size: 16px;
    padding-left: 5px;
}

.right-border{
    border-left: 1px solid #2a7bcc;
    box-shadow: 0 0 0 #14739e inset, -1px 0 0 #14739e;
}