.login-block{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #295f9a, #1b77d2 50%, white 50%);
}

.login-form{
    width: 350px;
    padding: 40px 30px 60px;
    background: #fff;
    box-shadow: 0 0 10px #8e8e8e;
}


.logo{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    color: #007bff;
    font-weight: 400;
}